* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background: #000;
  color: var(--blanco);
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 100;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 14px 30px;
  background: rgba(255,255,255,0.95);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  height: 30px;   /* ⬅️ aumenta aquí */
  width: auto;
}

/* LINKS DEL NAVBAR */
.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 0.95rem;
  color: var(--azul);
  transition: color 0.3s ease; /* animación suave */
}

/* HOVER EN GUINDA */
.nav-links a:hover {
  color: var(--guinda);
}
