
/* CONTACTO */

.directory-section {
    margin-top: 60px;
    padding: 100px 8%;
    background: #ffffff;
}

.directory-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
    color: #111;
}

.directory-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;    
    margin-bottom: 20px;
    align-items: stretch;
}

.directory-row.reverse {
    grid-template-columns: 1fr 2fr;
}

.directory-row.reverse .directory-info {
    order: 2;
}

.directory-row.reverse .directory-image {
    order: 1;
}

.directory-info {
    border: 1px solid #000;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.directory-info h2 {
    color: #000;
    font-size: 1.7rem;
    margin-bottom: 24px; 
}

.directory-info p {
    color: #475569;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0px;
}

.directory-info .email a {
    color: #1a5cff;            
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 3px;  
    transition: color 0.3s ease;
}

.directory-info .email a:hover {
    color: #0036cc;      
}

.directory-image {
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    height: 260px;
    width: 100%;
}

.directory-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    display: block;
}

.directory-banner {
    border: 1px solid #000;
    height: 300px; 
    margin-bottom: 20px; 
    overflow: hidden;
    border-radius: 20px;
}

.directory-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===== ANIMACIONES SCROLL ===== */

/* Estado inicial (oculto) */
.scroll-animate {
    opacity: 0;
    transform: translateY(40px);
    transition: 
        opacity 0.8s ease,
        transform 0.8s ease;
}

/* Estado visible */
.scroll-animate.show {
    opacity: 1;
    transform: translateY(0);
}

/* Pequeña variación para imágenes */
.directory-image.scroll-animate,
.directory-banner.scroll-animate {
    transform: translateY(60px);
}

/* Responsive */
@media (max-width: 900px) {

    .directory-row,
    .directory-row.reverse {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .directory-row.reverse .directory-info,
    .directory-row.reverse .directory-image {
        order: unset;
    }

    .directory-title {
        font-size: 2.2rem;
        margin-bottom: 40px;
    }
}
