
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background: #000;
  color: var(--blanco);
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 100;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 10px 30px;
  background: rgba(255,255,255,0.95);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

/* LOGO */
.nav-logo,
.nav-logo a {
  display: flex;
  align-items: center;
}

.nav-logo img {
  max-height: 90px;
  width: auto;
  object-fit: contain;
}

/* LINKS */
.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 0.95rem;
  color: #000;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #611232;
}